<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Programas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= programa.titulo %></td>
        <td><%= programa.descripcion %></td>
        <td><%= link_to 'Show', programa %></td>
        <td><%= link_to 'Edit', edit_programa_path(programa) %></td>
        <td><%= link_to 'Destroy', programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programa', new_programa_path %>
<% end %>