<div class="container">
    <div class="programasSociales">
        <h3> <%= @programa.titulo %></h3>
    </div>
    <div class="row">
        <div class="col l12 m12">
          <div class="carousel carousel-slider" id="carousel-programa" data-indicators="true">
              <% @fotos = Foto.where(programa_id: @programa.id) %>
              <% @fotos.each do |foto|%>
                <%= image_tag foto.imagen.url, class:"carousel-item"%>
              <%end%>
          </div>
        </div>
    </div>
    <div class="col l5 m5">
            <p class="text-programa">
              <%= @programa.descripcion %>
            </p>
        </div>
</div>
