
<%= simple_form_for(@evento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :descripcion %>
    <%= f.input :imagen %>
    <%= f.input :fecha_inicio %>
    <%= f.input :fecha_fin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
