<div class="container">
  <p id="notice"><%= notice %></p>
  
  <!-- Título del evento -->
  <h4 class="center-align new-title"><%= @evento.titulo %></h4>
  <hr class="event-hr">
  
  <div class="row">
    
    <!-- Imagen del evento -->
    <div class="center-align col l9 m12 s12">
      <%= image_tag @evento.imagen.url, class: "responsive-img" unless @evento.imagen.blank? %>
    </div>
    
    <!-- Fechas del evento -->
    
    <div class="col l3">
      <h5>Detalles</h5>
      <h6>Inicia: </h6>
      <ul>
        <li class="valign-wrapper"><i class="small material-icons event-icon">date_range</i> <%= l(@evento.fecha_inicio, format: '%a %d de %B del %Y') %></li>
        <li class="valign-wrapper"><i class="small material-icons event-icon">access_time</i> <%= @evento.fecha_inicio.strftime("%l:%M %p") %></li>
      </ul>
      <h6>Termina: </h6>
      <ul>
        <li class="valign-wrapper"><i class="small material-icons event-icon">date_range</i> <%= l(@evento.fecha_fin, format: '%a %d de %B del %Y') %></li>
        <li class="valign-wrapper"><i class="small material-icons event-icon">access_time</i> <%= @evento.fecha_fin.strftime("%l:%M %p") %></li>
      </ul>
    </div>
    
  </div>
    
  <!-- Información del evento -->
  <p class="text-events">
    <%= @evento.descripcion %>
  </p>
    
</div>


