<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @logo.nombre %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @logo.imagen %>
</p>

<%= link_to 'Edit', edit_logo_path(@logo) %> |
<%= link_to 'Back', logos_path %>
