<div class="container">
<h2>Contáctanos</h2>
<%= form_for @contacto, url: create_contacto_url do |f| %>
  <%= notice %>
  <%= @contacto.errors.full_messages.join(', ') %>

    <div class="row">
      <div class="col l6 s12 contact-form">
        <div class="input-field">
         <%= f.label :nombre %>
         <%= f.text_field :nombre, :required => true, :class => 'validate' %>
        </div>
        <div class="input-field">
            <%= f.label :email %>
            <%= f.email_field :email, :required => true, :class => 'validate' %>
        </div>
        <div class="input-field">
            <%= f.label :descripcion %>
            <%= f.text_area  :descripcion, :required => true, :class => 'validate' %>
        </div>
        <div class="input-field">
              <%= f.submit 'Enviar' %>
        </div>
      </div>
      <div class="col l6 s12 center-align">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d933.449491356997!2d-100.3299823!3d20.6370903!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDM4JzEzLjIiTiAxMDDCsDE5JzQ2LjEiVw!5e0!3m2!1sen!2smx!4v1525741830230" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
<% end %>
</div>