<!DOCTYPE html>
<html>
  <head>
    <title>CEDIV San José</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Font Awesome  -->
    <script src="https://use.fontawesome.com/5c1ef1b1c7.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == "devise" %>
    <div class="navbar-fixed">
      <nav class="white fixed-nav-bar" role="navigation">
        
        <div class="nav-wrapper" id="nav-bar">
      
        <!--================================-->
        <!--NAV ESCRITORIO-->
          
          <%= link_to image_tag("logo/minilogo.png"), "../" %>
          <a href="#" data-activates="nav-mobile" class="button-collapse menu-button"><i class="material-icons">menu</i></a>
          
          <ul class="right hide-on-med-and-down">
            <li><a class="nav-btn" href="../inicio" data-activates="dropdown-nosotros"> <%= t('.nosotros') %> </a></li>
            <li><a class="nav-btn" href="../programas_sociales" data-activates="dropdown-programas"> <%= t('.programas') %> </a></li>
            <li><a class="nav-btn" href="../eventos_noticias" data-activates="dropdown-eventos"> <%= t('.noticias') %> </a></li>
            <li><a class="nav-btn" href="../como_ayudar" data-activates="dropdown-ayudar"> <%= t('.ayudar') %> </a></li>
            <li><a class="nav-btn" href="../fotos_galeria" data-activates="dropdown-galeria"> <%= t('.galeria') %> </a></li>
            <li id="contactito"><a  class="nav-btn" href="../contacto" data-activates="dropdown-contacto"> <%= t('.contacto') %> </a></li>
            <li id="twitter"><a class="nav-btn" href="https://twitter.com/cedivsanjose" target="_blank" ><i class="fa fa-twitter fa-sm"></i></a></li>
            <li id="face"><a class="nav-btn" href="https://www.facebook.com/profile.php?id=100009365817203&ref=br_rs" target="_blank"><i class="fa fa-facebook fa-sm"></i></a></li>
            <li id="youtube"><a class="nav-btn" href="https://www.youtube.com/channel/UCi0NmQYKFBKtXiLVnoKyABA" target="_blank"><i class="fa fa-youtube fa-sm"></i></a></li>
          </ul>

        <!--===============Termina Nav Escritorio=================-->
    
        <!--================================-->
        <!--NAV Movil-->

          <ul class="side-nav" id="nav-mobile">
            <li><a class="nav-btn black-text" href="../inicio" data-activates="dropdown-nosotros">Nosotros</a></li>
            <li><a class="nav-btn black-text" href="../programas_sociales" data-activates="dropdown-programas">Programas</a></li>
            <li><a class="nav-btn black-text" href="../eventos_noticias" data-activates="dropdown-eventos">Noticias y Eventos</a></li>
            <li><a class="nav-btn black-text" href="../como_ayudar" data-activates="dropdown-ayudar">¿Cómo ayudar?</a></li>
            <li><a class="nav-btn black-text" href="../fotos_galeria" data-activates="dropdown-galeria">Galeria</a></li>
            <li id="contactito"><a class="nav-btn black-text" href="../contacto" data-activates="dropdown-contacto">Contacto</a></li>
            <li id="twitter"><a class="nav-btn black-text " href="https://twitter.com/cedivsanjose" target="_blank"><i class="fa fa-twitter fa-sm"></i></a></li>
            <li id="face"><a class="nav-btn black-text" href="https://www.facebook.com/profile.php?id=100009365817203&ref=br_rs" target="_blank"><i class="fa fa-facebook fa-sm"></i></a></li>
            <li id="youtube"><a class="nav-btn black-text" href="https://www.youtube.com/channel/UCi0NmQYKFBKtXiLVnoKyABA" target="_blank"><i class="fa fa-youtube fa-sm"></i></a></li>
          </ul>
        </div>
      
      <!--Termina NAV Movil-->
      </nav>
    </div>
    <% end %>
  
  <%= yield %>
  
    <% unless controller_name == "devise" %>   
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <%= image_tag("logo/logo.png", class: "logitos") %>
              <p class="black-text"> <%= t('.calle') %> </p>
              <p class="black-text"> <%= t('.horario') %> </p>
              <p class="black-text"> <%= t('.oficina') %></p>
            </div>
            <div class="col l4 offset-l2 s12">
              <p></p>
              <p></p>
              <div class="row">
                   <% @logos = Logo.all %>
                   <% @logos.each do |logo| %>
                    <div class="col s4">
                    <%= image_tag logo.imagen.url, class: "logitos"%>
                    </div>
                  <%end%>
                  
               </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <% @aviso = Nosotro.where(id:'7') %>
            <% @aviso.each do |aviso| %>
              <a class="black-text"><%= link_to "Aviso de privacidad", aviso.archivos_url, target: :_blank %></p></a>
            <% end %>
            
            <div class="row right">
              <div class="col s1"></div>
              <div class="col s1"></div>
              <div class="col s1"></div>
              <div class="col s1"></div>
              <div class="col s1"></div>
              <div class="col s1"><a class="white-text" href="https://twitter.com/cedivsanjose" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></div>
              <div class="col s1"></div>
              <div class="col s1"><a class="white-text" href="https://www.facebook.com/profile.php?id=100009365817203&ref=br_rs" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></div>
              <div class="col s1"></div>
              <div class="col s1"><a class="white-text" href="https://www.youtube.com/channel/UCi0NmQYKFBKtXiLVnoKyABA" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></div>
              <div class="col s1"></div>
            </div>
          </div>
        </div>
    </footer>
      
    <!--===============TERMINA FOOTER=================-->
    <!---->
    <% end %>
    
  </body>
  
</html>