<div class="container">
  <h2>Editar <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :email, "Correo electrónico" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label :password, "Contraseña" %> <i>(Dejar en blanco si no quieres cambiarla)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em>Mínimo <%= @minimum_password_length %> caracteres</em>
      <% end %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :current_password, "Contraseña actual" %> <i>(Necesitamos tu contraseña actual para confirmar tus cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Actualizar" %>
    </div>
  <% end %>
  
  <h3>Cancel my account</h3>
  
  <p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro que deseas eliminar tu cuenta?" }, method: :delete %></p>
  
  <%= link_to "Regresar", :back %>

</div>