<%= form_with(model: nosotro, local: true) do |form| %>
  <% if nosotro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nosotro.errors.count, "error") %> prohibited this nosotro from being saved:</h2>

      <ul>
      <% nosotro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :nosotro_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :nosotro_descripcion %>
  </div>

  <div class="field">
    <% if form.object.archivos? %>
      <%= link_to "Descargar archivo", form.object.archivos_url %>
    <% end %>
    <div>
      <% if form.object.archivos? %>
        <%= form.check_box :remove_archivos, id: :nosotro_remove_archivos %> 
        <%= form.label :remove_archivos, "Eliminar archivo" %>
      <% end %>
    </div>
    <%= form.label :archivos %>
    <%= form.file_field :archivos, id: :nosotro_archivos %>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar"%>
  </div>
<% end %>
