<% if user_signed_in? %>
<div class="container">
    <h1>Editar Nosotros</h1>
    
    <%= render 'form', nosotro: @nosotro %>
    
    <%= link_to 'Mostrar', @nosotro %> |
    <%= link_to 'Regresar', nosotros_path %>
</div>
<% end %>