<% if user_signed_in? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Nosotros</h1>
  
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th class="center">Nombre</th>
        <th class="center">Descripcion</th>
        <th class="center">Archivos</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @nosotros.each do |nosotro| %>
        <tr>
          <td><%= nosotro.nombre %></td>
          <td id="description-table"><%= nosotro.descripcion %></td>
          <% if nosotro.archivos? %>
            <td><%= link_to "Descargar archivo", nosotro.archivos_url, target: :_blank %></td>
          <% else %>
            <td>No hay archivo adjunto.</td>
          <% end %>
          <td><%= link_to 'Mostrar', nosotro %></td>
          <td>
            <%= link_to edit_nosotro_path(nosotro) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<% end %>