<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Nombre:</strong>
    <%= @nosotro.nombre %>
  </p>
  
  <p class="description-show">
    <strong>Descripcion:</strong>
    <%= @nosotro.descripcion %>
  </p>
  
  <p>
    <strong>Archivos:</strong>
    <% if @nosotro.archivos? %>
      <%= link_to "Descargar archivo", @nosotro.archivos_url, target: :_blank %>
    <% else %>
      <p>No hay archivo adjunto.</p>
    <% end %>
  </p>
  
  <%= link_to 'Editar', edit_nosotro_path(@nosotro) %> |
  <%= link_to 'Regresar', nosotros_path %>
</div>
