<br>
    <div class="col s12">
        <div class="row">
            <div class="col s6 offset-s3  z-depth-4 card-panel">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="row">
                      <div class="col s12">
                        
                       <div class="row">
                          <div class="logo center">
                            <%= image_tag("logo/logo.png")%>
                              
                          </div>
                      </div>
                      
                      <br>
                    <div class="row margin">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                          <%= f.label :email, "Correo electrónico"%><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: 'validate'%>
                          
                         </div>
                    </div>
                    <br>
                      
                    <div class="row margin">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">lock</i>
                          <%= f.label :password, "Contraseña"%><br />
                          <%= f.password_field :password, autocomplete: "off", :required => true, class: 'validate'%>
                        </div>
                    </div>
 
                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me, "Recuérdame"%>
                      </div>
                    <% end -%>
                    
                    <div class="actions">
                        <div class="row margin">
                            <div class="input-field col s12 center-align">
                                <div class="row center-align">
                                   <%= f.submit "Iniciar sesión" %>
                                </div> 
                            </div>
                        </div>
                        <br>
                    </div>
                    
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>


