Nombre: <%= @nombre %>

Apellido Paterno: <%= @apellidop %>

Apellido Materno: <%= @apellidom %>

Email: <%= @email %>

Domicilio: <%= @domicilio %>

Razón Social: <%= @razon_social %>

RFC: <%= @rfc %>

Estado: <%= @estado %>

Municipio: <%= @municipio %>

Fecha: <%= @fecha %>

Monto: <%= @monto %>