/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require light-gallery
 *= require fullcalendar
 */
@import "materialize"; 
@import "material_icons";

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2em !important;
    line-height: 1.6;
}

.maps{
    height:400px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.skinny_wrapper{
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
}

.wrapper_padding{
    padding: 4rem 0;
}

.hidden{
    display:none;
}

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

label{
    color:blue;
}

#nav-bar{
    margin: 0 90px;
    padding: 0 15px;
}


.nav-btn:hover {
    color: teal;
}

/*
#contactito{
    position: relative;
    right: -12px;
    margin-top: -9px;
    margin-bottom: 10px;
}


#contactito a{
    height: 0px;
}

#contactito a:hover{
    color: #2ba6cb;
}
*/

.nav-btn p:hover{
    color: #2ba6cb;
}

#twitter{
    position: relative;
    //right: 9px;
    //margin-top: 10px;
    margin-bottom: 10px
}

#twitter a{
    width: 30px;
    height: 0px;
    padding-right: 30px;
}

#face{
    position: relative;
    //right: 10px;
    //margin-top: 10px;
    margin-bottom: 10px;
}


.nav-btn:hover {
    color: #0099cc;
}

.nav-btn{
    color: black;
}


#face a{
    width: 30px;
    height: 0px;
}

.fa-youtube:hover {
    color: #0099cc;
}

.fa-facebook:hover {
    color: #0099cc;
}

.fa-twitter:hover{
    color: #0099cc;
}

#youtube{
    position: relative;
    //right: 10px;
    //margin-top: 10px;
    margin-bottom: 10px;
}

#youtube a{
    width: 30px;
    height: 0px;
    padding-left: 20px;
}

.programasSociales{
    text-align:center; 
}

.logitos{
    height: 100px;
    width: 100px;
}

.resizeimg {
    width: 220px;
    height: 240px;
}

#carousel-home {
    height: 550px;
}

.carousel-programa {
    height: 400px;
}

input, textarea { 
    display: block; 
}
    
#sidenav-overlay {
    z-index: 0;
}

//CAROUSEL 
//#carousel-home {
//    height: 550px;
//}

.middle-indicator{
   position:absolute;
   top:50%;
}

.middle-indicator-text{
   font-size: 5.2rem;
}

a.middle-indicator-text{
    color:white !important;
}
  
/*.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
}
*/

/*TABS STYLE COMO AYUDAR*/
.tabs .tab a{
  color:#07A0C3;
}

.tabs .tab a:hover {
  color:#87D26A;
} /*Text color on hover*/

.tabs .tab a.active {
  color: #07A0C3;
} /*Text color when a tab is active*/

.tabs .indicator {
  background-color:#07A0C3;
} /*Color of underline*/

#donar_comoayudar{
    margin-top: -7em;
    margin-left: 2em;
}

#donar_nosotros{
    margin-top: 34em;
    margin-right: 4em;
}

.gal{
    width: 20em;
    height: 200px;
}

.text-programa {
  line-height: 1.3;
  text-align: justify;
  white-space: pre-line;
  color:black;
  line-height: 1.6em;
  font-size: 15px;
}

.img-programas_sociales{
    width:100%;
}

.menu-button i{
    color: black;
}

.page-footer {
    background-color: #e5e5e5 !important;
}