// Place all the styles related to the Ayudas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ayudas-text {
    text-align: justify;
    white-space: pre-wrap;
    font-size: 15px; 
}