// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-events {
    text-align: justify;
    white-space: pre-wrap;
    line-height: 1.6;
}

.event-icon {
    margin-right: .6em;
}

.event-hr {
  color: #64dd17;
  background-color: #64dd17;
  height: .1em;
  width: 50%;
  margin-bottom: 1em;
}