// Place all the styles related to the Nosotros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Style to avoid overflow in description text for admin table 
#description-table {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

// Style for text shown in Misión, Visión, Valores for admin site
.description-show {
    text-align: justify;
    white-space: pre-wrap;
}

/*===================ICON BLOCK=================*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.icon-block img {
    height: 5em;
    width: 5em;
    transition: opacity .3s;
}

.icon-block:hover img {
    opacity: .75;
}

.icon-wrapper{
    color:grey;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.icon-wrapper i{
    color: #fff;
    background-color: #6dc849;
}

.icon-wrapper i {
    line-height: 1.3;
    height: 180px;
    width: 180px;
    text-align: center;
    border: 1px #086788;
    padding: 35px;
    border-radius: 50%;
    -webkit-transition: color .3s;
    -webkit-transition: background-color .3s;
    transition: color .3s;
    transition: background-color .3s;
}

.icon-wrapper:hover i {
    background-color: white;
    color: #6dc849;
}

.icon-wrapper:hover {
    color: teal;
}

/*====================================*/
