// Place all the styles related to the Noticias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Style for text shown in each new
.text-news {
  text-align: justify;
  white-space: pre-wrap;
  line-height: 1.6;
}

.new-date {
  font-style: italic; 
}

//style for highlight when you hover over a recent new
li.collection-item:hover{
  background-color: #e3f2fd;
  color: black; 
}

.new-hr {
  color: #64dd17;
  background-color: #64dd17;
  height: .1em;
  width: 50%;
  margin-bottom: 1em;
}