// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mision,  #vision, #valores {
    //box-shadow: 0 0px 0 0 #000;
}

#transparencia-file {
    font-size: 80px;
}

// Style for text shown in Misión, Visión, Valores in Pages->Inicio 
.text-nosotros {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 15px; 
  line-height: 1.8;
  padding-left: 50px;
}

.text-historia {
    white-space: pre-wrap;
    font-size: 15px;
}

.text-transparencia {
    white-space: pre-wrap;
    font-size: 15px;
}

.img-programas_sociales{
    width:100%;
    height: auto;
}