#ayuda {
  box-shadow: 0 0px 0 0 #000; 
}

.card-background {
  background-color: #EEEEEE;
}

#mision, #vision, #valores {
  width: auto;
  height: 150px;
  border-radius: 25px;
  /*background-color:#EEEEEE;*/
}

.nosotros {
  height: 100%;
  padding-left: 10px;
}

#transparencia-file {
  font-size: 80px; }

.text-nosotros {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 15px; 
  line-height: 1.8;
  padding-left: 50px;
}

.text-historia {
  line-height: 1.6;
  text-align: justify;
  white-space: pre-wrap;
  font-size: 15px; 
  color:black;
}

.historia-seccion {
  margin-top: 6em;  
}

.text-ayudas {
  text-align: justify;
}

.donaciones {
  height: 10px; }
  
.video-cediv {
  padding-top: 2em !important;
}

.video-cediv iframe {
  width: 100%;
}
/*# sourceMappingURL=pages.css.map */

.gal{
    width:100%;
    max-width:250px;
}


#historita{
  color:#07a0c3;
}

/* Boton ayudar*/
#btnAyudar{
  margin-right: 50px;
}

.card {
	border-radius: 200px 200px 200px 200px;

}
