
<%= simple_form_for(@carrusel) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <% if form.object.imagen? %>
      <%= image_tag form.object.imagen.thumb.url %>
    <% end %>
    <%= form.label :imagen %>
    <%= form.file_field :imagen, id: :carrusel_imagen %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
