<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Carrusels</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrusels.each do |carrusel| %>
      <tr>
        <td><%= carrusel.imagen %></td>
        <td><%= link_to 'Show', carrusel %></td>
        <td><%= link_to 'Edit', edit_carrusel_path(carrusel) %></td>
        <td><%= link_to 'Destroy', carrusel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrusel', new_carrusel_path %>
<% end %>
