<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @carrusel.imagen %>
</p>

<div class="center-align">
    <%= image_tag @carrusel.imagen.url, class: "responsive-img" unless @carrusel.imagen.blank? %>
</div>

<%= link_to 'Edit', edit_carrusel_path(@carrusel) %> |
<%= link_to 'Back', carrusels_path %>
