<div class="container">
  <h4> <%= @ayuda.nombre %> </h4>
  <div class="row">
    <div class="col s4">
      <%= image_tag (@ayuda.imagen), class:"responsive-img" %>
    </div>
    <div class="col s8">
      <p class="ayudas-text"> <%= @ayuda.descripcion %> </p>
    </div>
  </div>
</div>