<%= form_with(model: noticia, local: true) do |form| %>
  <% if noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticia.errors.count, "error") %> prohibited this noticia from being saved:</h2>

      <ul>
      <% noticia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :noticia_titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :noticia_descripcion %>
  </div>

  <div class="field">
    <% if form.object.imagen? %>
      <%= image_tag form.object.imagen.thumb.url %>
    <% end %>
    <%= form.label :imagen %>
    <%= form.file_field :imagen, id: :noticia_imagen %>
  </div>

  <div class="actions">
    <%= form.button :submit, :class=> "btn btn-primary"%>
  </div>
<% end %>
