<% if user_signed_in? %>
<div class="container">
    <h1>Editar noticia</h1>

    <%= render 'form', noticia: @noticia %>
    
    <%= link_to 'Mostrar', @noticia %> |
    <%= link_to 'Regresar', noticias_path %>

</div>
<% end %>