<% if user_signed_in? %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Noticias</h1>
  
  <table class="striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Fecha de creación</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @noticias.each do |noticia| %>
        <tr>
          <td><%= noticia.titulo %></td>
          <td><%= noticia.created_at %></td>
          <td id="description-table"><%= noticia.descripcion %></td>
          <td><%= noticia.imagen %></td>
          <!-- Mostrar -->
          <td>
            <%= link_to "Mostrar", noticia %>
          </td>
          <!-- Editar -->
          <td>
            <%= link_to edit_noticia_path(noticia) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
          <!-- Eliminar -->
          <td>
            <%= link_to noticia, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta noticia?' } do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Crear noticia', new_noticia_path %>

  
</div>
<% end %>