<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <!-- Información de la noticia -->
    <div class="card col m8">
      <h4 class="center-align"><%= @noticia.titulo %></h4>
      <hr class="new-hr">
      
      <div class="center-align">
        <%= image_tag @noticia.imagen.url, class: "responsive-img" unless @noticia.imagen.blank? %>
      </div>
      
      <p class="text-news">
        <%= @noticia.descripcion %>
      </p>
      
      <p class="new-date">
        Publicada: <%= l(@noticia.created_at, format: '%a %d de %B del %Y') %>
      </p>
      
    </div>
    
    <!-- Lista de 4 noticias recientes -->
    <div class="col m4 s12">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Noticias recientes</h5></li>
        <% @noticias_recientes.each do |noticia| %>
          <%= link_to noticia, class: 'recent-news' do %>
            <li class="collection-item avatar">
              <%= image_tag noticia.imagen.url, class: "circle" %>
              <span class="title"><%= noticia.titulo %></span>
              <p class="truncate"><%= noticia.descripcion %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
