
<body>
    <%= image_tag ("como_ayudar.png"), class:"responsive-img" %>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KG3KZUY9LFNH2">
        <button class="waves-effect  red darken-3 btn-large left" id="donar_comoayudar" type="submit" name="action"> <i class="material-icons right">favorite_border</i>donar </button>
    </form>
    
    <div class="container">
        <ul id="tabs-swipe-demo" class="tabs">
            <% @categorias.each do |categoria| %>
                <li class="tab col s3"><a class="active" href="#ayuda-<%= categoria.id %>"> <%= categoria.nombre %> </a></li>
            <% end %>
        </ul>
         <% @categorias.each do |categoria| %>
            <div id="ayuda-<%= categoria.id %>" class="col s12">
                <br> <br> <br>
                <% @ayudas = Ayuda.where(category_id: categoria.id) %>
                <div class="row">
                <% @ayudas.each do |ayuda| %>
                    <div class="col s4">
                        <div class="card medium" id="ayuda">
                            <div class="card-image">
                                <%= image_tag (ayuda.imagen), class:"resizeimg" %>
                            </div>
                            <div class="card-content card-background">
                                <span class="card-title light-blue-text text-darken-3"> <%= ayuda.nombre %> </span>
                                <p class="text-ayudas"> <%= ayuda.descripcion.truncate(80) %> </p>
                                <a class="right light-blue-text text-darken-3" href="ayudas/<%= ayuda.id %>"> Ver más</a>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
</body>

