<%= image_tag ("noticias_eventos.png"), class: "responsive-img" %>
<div class="container">
    
    <div class="row">
      
        <!-- Sección de noticias -->
        
        <div class="col l6 m6">
          <% @noticias.each do |noticia| %>
            <div class="card horizontal hoverable">
              <div class="card-image">
                <%= image_tag noticia.imagen.url, class: "responsive-img" unless noticia.imagen.blank? %>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h4><%= noticia.titulo %></h4>
                </div>
                <div class="card-action">
                  <%= link_to t('.ver_mas'), noticia %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
        <!-- Sección de eventos (calendario) -->
        <div class="col m6">
          <h4>Calendario de eventos</h4>
          <div class="calendar"></div>
        </div>
    </div>
</div>