<div class="container">
  <h3> <%= t('.titulo') %> </h3>
  <ul id="tabs-swipe-demo" class="tabs">
        <% @fechas.each do |f| %>
            <li class="tab col s3"><a class="active" href="#album-<%= f %>"> <%= f %> </a></li>
        <% end %>
    </ul>
    <% @fechas.each do |f| %>
        <div id="album-<%= f %>" class="col s12">
            <br> <br> <br>
            <ul class="lightGallery">
                <% @fotos=Galerium.where(fecha: f) %>
                <% @fotos.each do |galeria| %>
                    <a data-src="<%= galeria.imagen.url %>" data-sub-html="<h4>Fecha: <%= f %></h4>">
                        <img class="gal" src="<%= galeria.imagen.url %>" />
                    </a>
                <% end %>
            </ul>
        </div>
    <% end %>
  
  
  
</div>
