<body>
  <div class="carousel carousel-slider center" id="carousel-home" data-indicators="true">
    
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KG3KZUY9LFNH2">
        <button class="waves-effect  red darken-3 btn-large right" id="donar_nosotros" type="submit" name="action"> <i class="material-icons right">favorite_border</i>donar </button>
      </form>
    
    <div class="carousel-fixed-item center middle-indicator">
     <div class="left">
      <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
     </div>
     
     <div class="right">
     <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
     </div>
    </div>
    <% @imagenesCarrusel.each do |imagen| %>
      <%= image_tag (imagen.imagen), class:"carousel-item" %>
    <% end %>
  </div>
  
  
  
  <div class="container">

    <!-- INICIA SECCIÓN DE MISIÓN, VISIÓN Y VALORES -->
    <br> <br> <br> <br> <br>
    <h3>Acerca de nosotros</h3>
    <br> <br>
    <div class="row valign-wrapper" id="mision">
      <%= image_tag ("mision.png"), class:"nosotros"%>
      <% @mision.each do |mision| %>
        <p class="text-nosotros"><%= mision.descripcion %></p>
      <% end %>
    </div>
    
    <br><br>
    <div class="row valign-wrapper" id="vision">
      <%= image_tag ("vision.png"), class:"nosotros"%>
      <% @vision.each do |vision| %>
        <p class="text-nosotros"><%= vision.descripcion %></p>
      <% end %>
    </div>
    
    <br><br>
    <div class="row valign-wrapper" id="valores">
      <%= image_tag ("valores.png"), class:"nosotros"%>
      <% @valores.each do |valores| %>
        <p class="text-nosotros"><%= valores.descripcion %></p>
      <% end %>
    </div>
    <!-- TERMINA SECCIÓN DE MISIÓN, VISIÓN Y VALORES -->
    
    <!-- INICIA SECCIÓN HISTORIA -->
    
    <div class="row historia-seccion">
      <h3 id="historita"> <%= t('.historia') %> </h3>
      <div class="col l6">
        <% @historia.each do |historia| %>
          <p class="text-historia"><%= historia.descripcion %></p>
        <% end %>
      </div>
      <div class="video-cediv valign-wrapper col l6 s12">
        <% @video.each do |video| %>
          <% video_arr = video.descripcion.split('v=') %>
          <% video_url = "https://www.youtube.com/embed/" + video_arr.at(1) %>
          <iframe width="560" height="315" src="<%= video_url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% end %>  
      </div>
    </div>
    
    <!-- TERMINA SECCIÓN HISTORIA -->
  
    <!--===============INICIA TRANSPARENCIA=================-->

    <div id="transparencia">
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <h4 id ="historita" class="title center"><strong>Transparencia</strong></h4>
          <div id="transparencia-fade" class="row" style="margin-bottom: 70px">
            
            <div class="col s12 m4"></div>
            
            <div class="col s12 m4">
              
              <div class="icon-wrapper center">
                <h2><i class="fa fa-file-text" aria-hidden="true" style="font-size: 1.6em"></i></h2>
                <% @transparencia.each do |transparencia| %>
                  <% if !transparencia.archivos_url.blank? %>
                    <h6><%= link_to "Descargar archivo", transparencia.archivos_url, target: :_blank %></h6>
                  <% else %>
                    <h6>Por ahora, el archivo no está disponible. </h6>
                  <% end %>
                <% end %>
              </div>
              <p class="light"></p>
              
            </div>
            
            <div class="col s12 m4"></div>
            
          </div>  
    
        </div>
      </div>
    </div>
    <!--===============INICIA TRANSPARENCIA=================-->
    
  </div>
</body>

