<%= image_tag("programas_sociales.png", :class =>"img-programas_sociales") %>
<div class="container">
  <h3> <%= t('.titulo') %> </h3>
  <div class="row">
  <% @programas.each do |programa| %>
      <div class="col s4">
              <div class="card small">
                <div class="card-image">
                  <% @fotos = Foto.where(programa_id: programa.id) %>
                  <% @fotos.each do |foto|%>
                    <%@foto = foto.imagen.url%>
                  <%end%>
                  <%= image_tag @foto %>
               </div>
               <div class="card-content">
            <p class="card-title"><%= programa.titulo %></p>
          </div>
          <div class="card-action">
            <a href="../programas/<%=programa.id%>"> <%= t('.ver_mas') %></a>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>