<div class="container">
<h2>Solicitar Factura</h2>
<%= form_for @factura, :url => create_factura_url do |form| %>
    <%= notice %>
    <%= @factura.errors.full_messages.join(', ') %>
    <div class="row">
      <div class="col s4">
        <div class="input-field col s12">
         <%= form.label :nombre%>
         <%= form.text_field :nombre, :required => true , class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :apellidop %>
            <%= form.text_field :apellidop, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :apellidom %>
            <%= form.text_field :apellidom, :required => true, class: 'validate'%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :domicilio %>
            <%= form.text_field :domicilio, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :razon_social%>
            <%= form.text_field :razon_social, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :rfc%>
            <%= form.text_field :rfc, :required => true, class: 'validate'%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :pais%>
            <%= form.text_field :pais, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :estado%>
            <%= form.text_field :estado, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :municipio%>
            <%= form.text_field :municipio, :required => true, class: 'validate'%>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :fecha%>
            <%= form.text_field :fecha, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :monto%>
            <%= form.number_field :monto, :required => true, class: 'validate'%>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field col s12">
            <%= form.label :email %>
            <%= form.email_field :email, :required => true, class: 'validate'%>
        </div>
      </div>
    </div>
    <div class="row">  
      <div class="col s6">
        <div class="input-field col s12">
          <%= form.submit "Enviar" %>
          <br>
        </div>
      </div>
    
<% end %>

      <div class="col s6">
        <div class="input-field col s12">
          <%= form_tag("https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top" ) do %>
              <%= hidden_field_tag(:cmd, "_s-xclick") %>
              <%= hidden_field_tag(:hosted_button_id, "KG3KZUY9LFNH2") %>
              <%= image_submit_tag("https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif") %>
              <% image_tag("https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", width: "1", height: "1") %>
            <% end %>
        </div>
      </div>
      </div>
</div>
<!--=======================INICIA MODAL FACTURA=====================
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Factura</a>
<div id="modal1" class="modal">
  <div class="modal-footer">
    <button href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
  </div>
</div>
<script type="text/javascript">
  (function ($) {
    $(function () {

        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        $('#modal1').modal({
          dismissible: true, // Modal can be dismissed by clicking outside of the modal
          opacity: 0, // Opacity of modal background
          inDuration: 500, // Transition in duration
          outDuration: 200, // Transition out duration
          startingTop: '10%', // Starting top style attribute
          endingTop: '10%', // Ending top style attribute
          ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            console.log(modal, trigger);
          },
          complete: function() {  } // Callback for Modal close
        }
      );

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
-->