<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Galeria</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galeria.each do |galerium| %>
      <tr>
        <td><%= galerium.fecha %></td>
        <td><%= galerium.imagen %></td>
        <td><%= link_to 'Show', galerium %></td>
        <td><%= link_to 'Edit', edit_galerium_path(galerium) %></td>
        <td><%= link_to 'Destroy', galerium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galerium', new_galerium_path %>
<% end %>