<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @galerium.fecha %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @galerium.imagen %>
</p>

<%= link_to 'Edit', edit_galerium_path(@galerium) %> |
<%= link_to 'Back', galeria_path %>
