<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @foto.nombre %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @foto.imagen %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @foto.programa_id %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
